/* Global Styles */
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
.filter_navbar {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease-in-out;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.filter_navbar.expanded {
  align-items: flex-start;
}

.filter_nav_container {
  width: 100%;
  max-width: 1200px;
}

/* Navigation Menu */
.filter_nav_menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.filter_nav_item {
  margin: 5px 10px;
  position: relative;
}

.filter_nav_link {
  background: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.filter_nav_link:hover {
  font-weight: 600;
}

/* Dropdown */
.filter_dropdown_menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  padding: 8px;
  width: 180px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out;
  z-index: 10;
}

.filter_dropdown_item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  list-style: none;
  font-size: 0.9rem;
}

.filter_dropdown_item input {
  margin-right: 8px;
}

.filter_dropdown_item:hover {
  background: #ddd;
}

/* Arrow Icon */
.filter_downArrowIcon {
  width: 15px;
  height: 12px;
}

/* Selected Filters */
.selected_filters_row {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected_filters_row p {
  margin: 0;
  font-size: 0.9rem;
  color: gray;
  font-weight: bold;
}

.filter_tag {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #efeded;
  color: #333;
  border-radius: 25px;
  font-weight: 300;
  font-size: 0.8rem;
}

/* Clear All Button */
.filter_btn_Clear_all {
  margin-left: 10px;
  font-size: 0.9rem;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filter_nav_menu {
    flex-direction: column;
    align-items: center;
  }

  .filter_nav_item {
    width: 100%;
    text-align: center;
  }

  .filter_dropdown_menu {
    position: relative;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
}
