.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product-card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.product-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.mrp {
  text-decoration: line-through;
  color: #999;
  margin-left: 8px;
}

.discount {
  font-size: 0.9rem;
  color: #d32f2f;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 350px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pageHeading {
  color: rgb(62, 77, 112);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-align: left;
}

.sidebar {
  display: flex;
  width: 250px;
  padding: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}
