.navbar {
  background-color: #f8f9fa;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar.expanded {
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}

.nav-container {
  width: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-link {
  background: none;
  font-family: "Open Sans";
  border: none;
  font-size: 1rem;
  font-weight: 550;
  color: #333;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link:hover {
  font-weight: bold;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: transparent;
  padding: 10px;
  width: 100%;
  z-index: 10;
  display: flex;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  list-style: none;
}

.dropdown-item input {
  margin-right: 10px;
}

.dropdown-item:hover {
  background: #ddd;
}

.downArrowIcon {
  padding-left: 2px;
  width: 15px;
  height: 12px;
}

.selected-filters {
  margin: 10px 0;
  display: flex;
}

.selected-filters p {
  margin: 0;
  font-family: "Open Sans";
  color: gray;
  font-weight: bold;
}

.filter-tag {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #efeded;
  color: #333;
  border-radius: 25px;
  font-weight: 300;
}

.btn-Clear-all {
  margin-left: 10px;
  font-size: 15px;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}
